@import 'mqMixin.scss';

$textColor: #313438;

.Actual-wrapper {
	display: flex;
	justify-content: center;
	.actual-frame {
		margin: 20px;
		border: #b3e5fc solid 1px;
		width: 25%;
		@include mQ(768px) {
			width: 60%;
		}
		background-color: #b3e5fc;
		position: relative;
		box-shadow: 10px 7px 10px #353638;
		.Humidity,
		.Pressure {
			margin: 0;
			padding-left: 10px;
			font-size: 14px;
			color: $textColor;
		}
		.Temperature {
			margin: 0;
			padding-left: 30px;
			font-size: 52px;
			color: $textColor;
			@include mQ(986px) {
				font-size: 42px;
			}
		}
		.City-country {
			margin: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			font-size: 14px;
			color: $textColor;
			background: linear-gradient(to right, #81d4fa 0, #b3e5fc 70%);
		}
		img {
			position: absolute;
			top: 0;
			right: 20px;
			width: 40%;
			height: auto;
			@include mQ(986px) {
				width: 30%;
				margin-top: 20px;
			}
			@include mQ(768px) {
				margin-top: 0;
			}
			@include mQ(480px) {
				margin-top: 20px;
			}
			@include mQ(365px) {
				display: none;
			}
		}
	}
}

.not-found {
	text-align: center;
	margin: 20px;
	font-size: 28px;
	color: #ef5350;
}
